*, body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.container {
  max-width: 1440px;
  padding: 0 60px;
  margin: auto;
}

a {
  text-decoration: none !important;
}

ul {
  margin-top: 0;
  margin-bottom: 0rem !important;
}

p {
  margin-bottom: 0rem !important;
}

.homepage-section {
  padding-top: 50px;
  background: linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
}
.homepage-section .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.homepage-section .header-contacts {
  display: flex;
}
.homepage-section .header-contacts .lang-item {
  display: inline-block;
}
.homepage-section .header-contacts .lang-item button {
  font-size: 12px;
  color: #FFFFFF;
  font-weight: 700;
  font-family: "TT Norms", sans-serif;
  height: 24px;
  width: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
}
.homepage-section .header-contacts .lang-item .active {
  height: 24px;
  width: 29px;
  border-radius: 8px;
  background: #F0145A;
  border: none;
  color: #FFFFFF;
}
.homepage-section .header-contacts .contacts-item {
  display: inline-block;
  margin-right: 13px;
}
.homepage-section .header-contacts .contacts-item .adress {
  font-size: 16px;
  color: #FFFFFF;
  font-weight: 400;
  font-family: "TT Norms", sans-serif;
}
.homepage-section .header-contacts .contacts-item .number {
  font-size: 16px;
  color: #FFFFFF;
  font-weight: 600;
  font-family: "TT Norms", sans-serif;
}
.homepage-section nav {
  display: flex;
  justify-content: end;
}
.homepage-section nav .nav-item {
  display: inline-block;
  margin-left: 15px;
}
.homepage-section nav .nav-item a {
  font-size: 16px;
  color: #FFFFFF;
  font-weight: 600;
  font-family: "TT Norms", sans-serif;
}
.homepage-section .main-page {
  margin-top: 63px;
  min-height: 644px;
  background: url("../images/Shade.png") repeat-x bottom, url("../images/Symbol Long leg.png") no-repeat bottom, url("../images/Frame 2.svg") no-repeat bottom center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.homepage-section .main-page p {
  font-size: 38px;
  color: #FFFFFF;
  font-weight: 500;
  font-family: "TT Norms", sans-serif;
  text-align: center;
  margin-top: -85px;
}
.homepage-section .main-page .main-content {
  text-align: center;
}
.homepage-section .arrow {
  position: relative;
  top: 270px;
  height: 42px;
  width: 42px;
  border: 1px solid white;
  border-radius: 50%;
  background: url("../images/Vector (1).png") no-repeat center;
}

.experience-services-section {
  min-height: 1374px;
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
}
.experience-services-section .services-item {
  text-align: right;
  margin-top: 20px;
}
.experience-services-section .services-item a {
  font-size: 42px;
  color: #B3B3BA;
  font-weight: 600;
  font-family: "TT Norms", sans-serif;
}
.experience-services-section .services-list {
  margin-top: -20px;
}
.experience-services-section .services-item-active a {
  font-size: 42px;
  font-weight: 600;
  font-family: "TT Norms", sans-serif;
  background-image: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.experience-services-section .services-item-active {
  text-align: right;
}
.experience-services-section .nav-services {
  display: flex;
  flex-direction: row;
  padding-top: 80px;
}
.experience-services-section .decr-serv h2 {
  font-size: 32px;
  color: #FFFFFF;
  font-weight: 500;
  font-family: "TT Norms", sans-serif;
}
.experience-services-section .decr-serv p {
  font-size: 21px;
  color: #FFFFFF;
  font-family: "TT Norms", sans-serif;
}
.experience-services-section .decr-serv hr {
  color: #E6E6F0;
  border-top: 4px solid;
}/*# sourceMappingURL=style.css.map */