@import 'variables';
@import 'mixins';

*,body,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.container{
    max-width: 1440px;
    padding: 0 60px;
    margin: auto;
}

a{
    text-decoration: none !important;
}
ul{
    margin-top: 0;
    margin-bottom: 0rem !important;
}
p{
    margin-bottom: 0rem !important;
}

//HOMEPAGE STYLE

.homepage-section{
    padding-top: 50px;
    background: linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
    .header{
        @include fb();
    }
    .header-contacts{
        display: flex;
        .lang-item{
            display: inline-block;
            button{
                @include font(12px,$white,700,$font-family);
                height: 24px;
                width: 29px;
                @include fc();
                background: none;
                border: none;
            }
            .active{
                height: 24px;
                width: 29px;
                border-radius: 8px;
                background: $red;
                border: none;
                color: $white;
                
            }
        }
        .contacts-item{
            display: inline-block;
            margin-right: 13px;
            .adress{
                @include font(16px,$white,400,$font-family);
            }
            .number{
                @include font(16px,$white,600,$font-family);
            }
        }
    }
    nav{
        display: flex;
        .nav-item{
            display: inline-block;
            margin-left: 15px;
            a{
                @include font(16px,$white,600,$font-family);
            }
        }
    }
    .main-page{
        margin-top: 63px;
        min-height: 644px;
        background: url('../images/Shade.png') repeat-x bottom, 
        url('../images/Symbol\ Long\ leg.png') no-repeat bottom,
        url('../images/Frame\ 2.svg') no-repeat bottom center;
        @include fc();
        flex-wrap: wrap;
        flex-direction: column;
        
        p{
            @include font(38px,$white,500,$font-family);
            text-align: center;
            margin-top: -85px;
        }
        .main-content{
            text-align: center;
        }
        }
        .arrow{
            position: relative;
            top: 270px;
            height: 42px;
            width: 42px;
            border: 1px solid white;
            border-radius: 50%;
            background: url('../images/Vector\ \(1\).png') no-repeat center;
        }
    }
    .experience-services-section{
        min-height: 1374px;
        background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);;
        .services-item{
            text-align: right;
            margin-top: 20px;
            a{
                @include font(42px,$grey,600,$font-family);
            }
        }
        .services-list{
            margin-top: -20px;
        }
        .services-item-active a{
            font-size: 42px;
            font-weight: 600;
            font-family: $font-family;
            background-image: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        .services-item-active{
            text-align: right;
        }
        .nav-services{
            @include fc();
            padding-top: 80px;
            .horizontal{
                hr{
                    color: $red;
                    border-top: 4px solid;
                    opacity: unset;
                    transform: rotate(90deg);
                    width: 360px;
                }
                .hr-serv-second{
                    color:#E6E6F0;
                    margin-top: 50px;
                }
            }
        }
        .decr-serv{
            h2{
                @include font(32px,$white,500,$font-family);
            }
            p{
                font-size: 21px;
                color: $white;
                font-family: $font-family;
                
            }
            
        }
        .services{
            padding-top: 80px;
            left: 0;
            .breadcrumb{
                .breadcrumb-item a{
                    @include font(14px,$white,500,$font-family);
                    opacity:0.5;
                }
                
            }
            h2{
                font-size: 42px;
                font-weight: 600;
                font-family: $font-family;
                background-image: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
        .services-grid{
            @include fb();
            margin-top: 68px;
        }
        .services-grid-item{
            margin-bottom: 58px;
            .img-item{
                height: 92px;
                width: 92px;
                background: $white;
                border-radius: 24px;
                @include fc();
                margin-bottom: 20px;
            }
            .services-grid-header{
                @include font(24px,$active,500,$font-family);
                
            }
            .services-grid-description{
                @include font(18px,$white,500,$font-family);
                margin-top: 15px;
            }
        }
    }
.team-section{
    min-height: 1000px;
    background:  $white;
    
    .carousel .slide{
        background: #E5E5E5;
    }
    .team-slider{
        margin-top: 60px;
        .carousel-item{
            @include fc()
        }
        img{
            max-width: 413px;
            max-height: 500px;
            margin-right:140px;

        }

    }
    .carousel-item{
        max-width: 1320px;
        max-height: 501px;
        background: #F5F5FA;
        border-radius: 12px;

    }
    .description-team-content{
        margin-right: 40px;
        margin-left: -102px;
        margin-bottom: 93px;
        .breadcrumb-item a{
            @include font(14px,$active,700,$font-family)
        }
        h2{
            font-size: 42px;
            font-weight: 700;
            font-family: $font-family;
            background-image: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        .decr-team{
            margin-top: 20px;
            .name{
                @include font(18px,$grey,400,$font-family);
            }
            .position{
                @include font(16px,$grey,400,$font-family);
            }
        }
        .carousel-control-prev-icon{
            height: 16px;
            width: 16px;
            border-radius: 50%;
            background: $active;
        }
        .carousel-indicators{
            button{
                background: $active;
            }
        }
    }
    .shadow img{
        width: 100%;

    }
}

footer{
    hr{
        border: 2px solid #E6E6F0;
        opacity: unset;
    }
    padding-top: 30px;
    .footer-contacts-wrap{
        @include fc();
        .footer-adress{
            margin-right:31px;
            @include font(16px,$main,400,$font-family);
        }
        a p{
            @include font(12px,$active,700,$font-family);
            margin-left: 10px;
        }

    }
    .footer-contacts{
        @include fb();
        .footer-credits{
            p{
                @include font(16px,$grey,400,$font-family)
            }
        }
    }
    .socials{
        margin-top: 22px;
        .socials-item{
            display: inline-block;
            margin-right: 10px;
            .socials-number{
                @include font(16px,#46466E,700,$font-family)
            }
            .mail-socials{
                @include font(16px,$active,700,$font-family);
            }
        }
    }
}

